<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark px-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">AC 家教網</a>
            {{#if user}}
            <li class="nav-item d-inline-flex align-items-center">
                <a class="btn btn-light" href="/users/{{user.id}}">Hi, {{ user.name }}</a>
            </li>

            {{#if user.isAdmin}}
            <li class="nav-item">
                <a href="/admin" class="nav-link">使用者清單</a>
            </li>

            {{else}}

            {{#if user.isTeacher}}
            <li class="nav-item">
                <a href="/users/{{user.id}}" style="padding-right: .5rem;"><button
                        class="btn btn-light">老師個人檔案</button></a>
            </li>
            {{/if}}
            <li class="nav-item d-inline-flex align-items-center">
                <a class="text-white nav-link" href="/users/{{user.id}}">成為老師</a>
            </li>
            {{/if}}
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a href="/logout"><button class="btn btn-outline-success my-sm-0 my-2">Logout</button></a>
                </li>
            </ul>
            {{/if}}
        </div>
    </nav>
</header>