<div class="row mb-5">
    <div class="col-md-4">
        <img class="img-responsive center-block mb-5" src="{{user.avartar}}"
            style="width: 300px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">

        <div class="row mb-5">
            <div class="col-md-10">
                <h1>{{user.name}}</h1>
                <p>{{getFlagEmoji user.nation}} {{user.nation}}</p>
                <h3>About me</h3>
                <p>{{user.introduction}}</p>
                <hr>
                <a class="btn btn-outline-primary" href="/users/{{user.id}}/edit">Edit</a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row mb-5">
            <div class="col-md-12">
                <h4>New Schedule</h4>
                <div style="display:flex; justify-content: space-even">
                    {{#each user.newRegisterations}}
                    <div
                        style="margin-right: 1rem; outline: 1px ridge darkgrey; border-radius: 1rem; padding-left: 1rem; padding-top: 1rem; padding-right: .7rem;">
                        <p>Start Time: {{prettyTime this.courseTimeStart}}</p>
                        <p>End Time: {{prettyTime this.courseTimeEnd}}</p>
                        <p>Teacher's Name: {{this.teacher.name}}</p>
                        <a href="{{this.teacher.videoLink}}">
                            <p>Session Link</p>
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-12">
                <hr>
                <h4>Lesson History</h4>
                <div class="col-md-12" style="display:flex; justify-content: space-even; flex-wrap: wrap;">
                    {{#each user.lessonHistory}}
                    <div
                        style="display: flex; align-items:center; margin-right:1rem; margin-top:1rem; outline: 1px ridge darkgrey; border-radius: 1rem; padding-left: 1rem; padding-top: 1rem; padding-right: .5rem;">
                        <a style="padding-top: .5rem;" href="/teachers/{{this.teacher.id}}">
                            <img class="img-responsive center-block mb-5" src="{{this.teacher.avartar}}"
                                style="width: 50px; height: 50px; transition: opacity 0.5s; opacity:0;"
                                onload="this.style.opacity=1;">
                        </a>
                        <div style="display: flex;">
                            <p>Teacher's Name: {{this.teacher.name}}</p>
                            {{#if isRated}}
                            <p>Rating: {{this.rating}}/5</p>
                            {{else}}
                            <a style="padding-left: 1rem;" href="teacher/score/{{this.teacher.id}}">Score</a>
                            {{/if}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-12">
                <hr>
                <h4>我的學習時數名次</h4>
                <li>Ranking: 第 {{user.ranking}} 名</li>
            </div>
        </div>
    </div>
</div>