<div class="row mb-5">
    {{consoleLog teacher}}
    <div class="col-md-4">
        <img class="img-responsive center-block mb-5" src="{{teacher.User.avartar}}"
            style="width: 300px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
        <div class="row mb-5">
            <div class="col-md-10">
                <h1>{{teacher.User.name}}</h1>
                <br>
                <br>
                <h5>{{getFlagEmoji teacher.User.nation}} {{teacher.User.nation}}</h5>
                <h5>❤️ {{teacher.meanRating}}</h5>
                <h5>🙋‍♂️ About me</h5>
                <p>{{teacher.teacherIntroduction}}</p>
                <a class="btn btn-outline-primary" href="/teachers/{{teacher.id}}/edit">Edit</a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row mb-5">
            <h4>New Schedule</h4>
            <div class="col-md-12">
                <div class="row mb" style="display:flex; justify-content: space-even;">
                    {{#each teacher.newRegisterations}}
                    <div class="col-md-5"
                        style="margin-right: 1rem; outline: 1px ridge darkgrey; border-radius: 1rem; margin-bottom: 1rem;;padding-left: 1rem; padding-top: 1rem; padding-right: .7rem;">
                        <p>Start Time: {{prettyTime this.courseTimeStart}}</p>
                        <p>End Time: {{prettyTime this.courseTimeEnd}}</p>
                        <p>Student's Name: {{this.User.name}}</p>
                        <a href="{{this.teacher.videoLink}}">
                            <p>Session Link</p>
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-12">
                <hr>
                <h4>Your Teaching Style</h4>
                <div class="col-md-12" style="display:flex; justify-content: space-even; flex-wrap: wrap;">
                    {{teacher.style}}
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-12">
                <hr>
                <h4>Recent Reviewed</h4>
                {{#each teacher.Ratings}}
                <p>
                    <span
                        style="background-color: yellow; padding-left: .5rem; padding-right: .5rem;">{{this.rating}}</span>
                    <span style="padding-left: .5rem;">{{this.comment}}</span>
                </p>
                {{/each}}
            </div>
        </div>
    </div>
</div>